# NinjaCloud SSH hardening
Port {{ ssh_port }}
PermitRootLogin {{ ssh_permit_root_login }}
PasswordAuthentication {{ ssh_password_authentication }}
PubkeyAuthentication {{ ssh_pubkey_authentication }}
ChallengeResponseAuthentication {{ ssh_challenge_response_authentication }}
KbdInteractiveAuthentication {{ ssh_kbd_interactive_authentication }}
MaxAuthTries {{ ssh_max_auth_tries }}
LoginGraceTime {{ ssh_login_grace_time }}
